<%= form_with(model: ballot, local: true) do |form| %>
<section>
<div>
      <input type="radio" id="control_01" name="ballot[name]" value="Wakeeza"/>
      <label for="control_01">
        <h2>Wakeeza</h2>
        <p>(No special meaning)</p>
      </label>
    </div>

    <div>
      <input type="radio" id="control_02" name="ballot[name]" value="Strawberry"/>
      <label for="control_02">
        <h2>Strawberry</h2>
        <p>(Like the fruit)</p>
      </label>
    </div>

</section>


  <div class="actions">
    <%= form.submit value="Vote", :class => 'subbtn' %>
  </div>
<% end %>
