
<div id="overlay">
  <div id="overlay-content">
    <h1>Your name is now <span class="red">gone</span>.</h1>
    <h1>You must now choose a <span class="red">new name</span>.</h1>
    <h1>There are only two options...</h1>
  </div>
</div>

  <%= render 'form', ballot: @ballot %>
