<!DOCTYPE html>
<html>
  <head>
    <title>RailsVotingApp</title>
    <%= csrf_meta_tags %>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <!-- overlay script -->
  <script>
  $.fn.center = function () {
    this.css("position","absolute");
    this.css("top", Math.max(0, (
      ($(window).height() - $(this).outerHeight()) / 2) +
       $(window).scrollTop()) + "px"
    );
    this.css("left", Math.max(0, (
      ($(window).width() - $(this).outerWidth()) / 2) +
       $(window).scrollLeft()) + "px"
    );
    return this;
  }

  $("#overlay").show();
  $("#overlay-content").show().center();

  setTimeout(function(){
    $("#overlay").fadeOut();
  }, 5000);
  </script>
</html>
